<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/mine/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/editor/kindeditor.js"></script>
    <script type="text/javascript" src="__STATIC__/mine/layer/layer.js"></script>
    <script type="text/javascript">
    // KE.show({
    //     id: 'content7',
    //     cssPath: './index.css'
    // });
    </script>
    <script type="text/javascript">
    $(document).ready(function(e) {
        $(".select1").uedSelect({
            width: 345
        });
        $(".select2").uedSelect({
            width: 167
        });
        $(".select3").uedSelect({
            width: 100
        });
    });
    </script>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">直推列表</a></li>
        </ul>
    </div>
    <div class="tools">
        <ul class="toolbar" style="padding:3px;">
            <li class="click"><span><img src="__STATIC__/admin/images/t01.png" /></span><a href="team">团队</a></li>
        </ul>
        <ul class="toolbar1">
        </ul>
    </div>
    <div class="formbody">
        <ul class="seachform">
            <form action="index" method="get">
            <li>
                <label>用户</label>
                <input name="user" type="text" class="scinput" value="{$Think.get.user}" />
            </li>
            <li>
                <label>&nbsp;</label>
                <input type="submit" class="scbtn" value="查询" />
            </li>
            </form>
            <script>
                if('{$Think.get.status}'){
                    $('form select[name="status"]').val('{$Think.get.status}');
                }
            </script>
        </ul>
        <table class="tablelist">
            <thead>
                <tr>
                    <th>账户名</th>
                    <th>手机号</th>
                    <th>真实姓名</th>
                    <th>推荐人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name='list' id='v'}
                <tr>
                    <td><a href="index?user={$v.user}">{$v.user}</a></td>
                    <td>{$v.phone}</td>
                    <td>{$v.theme}</td>
                    <td>{$v.pid}</td>
                    <td>
                        <a href="/admin/user/edit?id={$v.id}" class="tablelink">详情</a>&nbsp;&nbsp;
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
        <div>
            
        </div>
    </div>
</body>

</html>