<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/mine/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/editor/kindeditor.js"></script>
    <script type="text/javascript" src="__STATIC__/mine/layer/layer.js"></script>
    <script type="text/javascript">
    // KE.show({
    //     id: 'content7',
    //     cssPath: './index.css'
    // });
    </script>
    <script type="text/javascript">
    $(document).ready(function(e) {
        $(".select1").uedSelect({
            width: 345
        });
        $(".select2").uedSelect({
            width: 167
        });
        $(".select3").uedSelect({
            width: 100
        });
    });
    </script>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户信息</a></li>
        </ul>
    </div>
    <div class="tools">
        <ul class="toolbar" style="padding:3px;">
            <li class="click"><span><img src="__STATIC__/admin/images/t04.png" /></span><a href="index">列表</a></li>
        </ul>
        <ul class="toolbar1">
        </ul>
    </div>
    <div class="formbody">
        <ul class="forminfo">
                <li>
                    <label>今日排单量<b>*</b></label>
                    <input type="text" class="dfinput" value="{$today_tgbz}" style="width:250px;" />
                </li>
                <li>
                    <label>今日提现量<b>*</b></label>
                    <input type="text" class="dfinput" value="{$today_jsbz}" style="width:250px;" />
                </li>
                <li>
                    <label>今日匹配量<b>*</b></label>
                    <input type="text" class="dfinput" value="{$today_pp}" style="width:250px;" />
                </li>
                <li>
                    <label>今日冻结量<b>*</b></label>
                    <input type="text" class="dfinput" value="{$today_tikuan}" style="width:250px;" />
                </li>
                <li>
                    <label>注册人数<b>*</b></label>
                    <input type="text" class="dfinput" value="{$register_count}" style="width:250px;" />
                </li>
                <li>
                    <label>总投资<b>*</b></label>
                    <input type="text" class="dfinput" value="{$all_tgbz}" style="width:518px;" />
                </li>
                <li>
                    <label>总接受<b>*</b></label>
                    <input type="text" class="dfinput" value="{$all_jsbz}" style="width:518px;" />
                </li>
                <li>
                    <label>实际已完成金额<b>*</b></label>
                    <input type="text" class="dfinput" value="{$ppdd}" style="width:518px;" />
                </li>
                <li>
                    <label>静态收益<b>*</b></label>
                    <input type="text" class="dfinput" value="{$static}" style="width:518px;" />
                </li>
                <li>
                    <label>动态收益<b>*</b></label>
                    <input type="text" class="dfinput" value="{$dynamic}" style="width:518px;" />
                </li>
                <li>
                    <label>奖励收益<b>*</b></label>
                    <input type="text" class="dfinput" value="{$awart}" style="width:518px;" />
                </li>
                <li>
                    <label>商城积分收益<b>*</b></label>
                    <input type="text" class="dfinput" value="{$shop}" style="width:518px;" />
                </li>
                <form>
                 <li>
                    <label>网站运行<b>*</b></label>
                    <cite>
                        <input name="zt" type="radio" value="1">开启&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="zt" type="radio" value="2">关闭
                    </cite>
                </li>
                </form>
                <li>
                    <label>&nbsp;</label>
                    <input type="button" class="btn" value="保存信息" />
                </li>

        </ul>
        <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
        //点选框选中
         $(function(){
            $("input[name='zt']").each(function(){  
                if($(this).val() == '{$zt}'){  
                    $(this).prop( "checked", true );  
                }  
            });
            $('.btn').click(function() {
                $.ajax({
                    type: "POST",
                    url: "{:url('index')}",
                    data: $("form").serialize(),
                    success: function(data) {
                        console.log(data)
                        if(data.code=='1'){
                            setTimeout(function(){
                                location.href = data.url;
                            },1000);
                            layer.msg(data.msg);
                        }else{
                            layer.msg(data.msg);
                        }
                    }
                });
            });
        })

        </script>
    </div>
</body>

</html>