<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/CSS/base.css"/>
	<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/login.css"/>
		<title>登录</title>
	</head>
	<body>
		<div class="header">
			<a href="javascript:history.go(-1)" class="left"><img src="__STATIC__/mobile/img/return.png"/></a>
			<span class="center">重置密码</span>
			<a href="javascript:void(0)" class="right"></a>
		</div> 
		<div class="ver_top">
            <img src="__STATIC__/mobile/img/logo.png"/>
        </div>
        <form action="" method="">
        <div class="login_wrap">
        	
        	<div class="login_input">
        		<img src="__STATIC__/mobile/img/password.png" alt="" />
                <input type="password" name="user_pass" placeholder="输入新密码"/>
        		<input type="text" hidden="hidden" name="id" value={$id} />
        	</div>
        	
        	   <div class="login_input">
        		<img src="__STATIC__/mobile/img/password.png" alt="" />
        		<input type="password" name="pass1" placeholder="确认新密码"/>
        	   </div>
        	  
        	
        	<div class="warn">
        		<p>(警告：通过此功能将会重置您的登录密码)</p>
        	</div>
        	<div class="password_btn">
        		<img src="__STATIC__/mobile/img/ver_btn3.png"/>
        		<input type="button" />
        	</div>
        </div>
        </form>
	</body>
	<script src="__STATIC__/mobile/js/base.js" type="text/javascript" charset="utf-8"></script>
     <script src="__STATIC__/mobile/js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATIC__/mine/layer/layer.js" type="text/javascript" charset="utf-8"></script>
    <script>
    $('input[type="button"]').click(function(){
            console.log(12);
            // $('input[type="button"]').attr('disabled',true);
            $.ajax({
                type: "POST",
                url: "{:url('forgetcl')}",
                data: $("form").serialize(),
                success: function(data) {
                    console.log(data)
                    if(data.code=='1'){
                        setTimeout(function(){
                            location.href = data.url;
                        },1000);
                        layer.msg(data.msg);
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
        });
    </script>
</html>
