<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/register.css"/>
		<title>维护中</title>
		<style>
			.weihu{
               text-align: center;
               width: 100%;
               height: 4rem;
               margin-top: 3rem;
               line-height: 4rem;
               font-size: 0.4rem;

			}
		</style>
	</head>
	<body>
	<div class="weihu">网站维护中...</div>
		

	</body>
	<script src="__STATIC__/mobile/js/base.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/mobile/js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/mine/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/mobile/js/nav.js" type="text/javascript" charset="utf-8"></script>
	

	
</html>

