<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/mine/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/editor/kindeditor.js"></script>
    <script type="text/javascript" src="__STATIC__/mine/layer/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/mine/laydate/laydate.js"></script>
    <script type="text/javascript">
    // KE.show({
    //     id: 'content7',
    //     cssPath: './index.css'
    // });
    </script>
    <script type="text/javascript">
    $(document).ready(function(e) {
        $(".select1").uedSelect({
            width: 345
        });
        $(".select2").uedSelect({
            width: 167
        });
        $(".select3").uedSelect({
            width: 100
        });
    });
    </script>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">提供列表</a></li>
        </ul>
    </div>
    <div class="tools">
        <ul class="toolbar" style="padding:3px;">
            <li class="click"><span><img src="__STATIC__/admin/images/t01.png" /></span><a class="sdpp" >手动匹配</a></li>
        </ul>
        <ul class="toolbar1">
        </ul>
    </div>
    <div class="formbody">
        <ul class="seachform">
            <form action="list_weidakuan" method="get">
                <li>
                    <label>提供用户</label>
                    <input name="p_user" type="text" class="scinput" value="{$Think.get.p_user}" style="width:80px;" />
                </li>
                <li>
                    <label>提供单号</label>
                    <input name="p_id" type="text" class="scinput" value="{$Think.get.p_id}" style="width:100px;" />
                </li>
                <li>
                    <label>接受用户</label>
                    <input name="g_user" type="text" class="scinput" value="{$Think.get.g_user}" style="width:80px;" />
                </li>
                <li>
                    <label>接受单号</label>
                    <input name="g_id" type="text" class="scinput" value="{$Think.get.g_id}" style="width:100px;" />
                </li>
                <li>
                    <label>匹配时间</label>
                    <input name="first" id="first" class="scinput" value="{$Think.get.first}" placeholder="起始" style="width:80px;" />
                    <input name="end"  id="end" class="scinput" value="{$Think.get.end}" placeholder="结束" style="width:80px;"/>
                </li>
                <li>
                    <label>&nbsp;</label>
                    <input type="submit" class="scbtn" value="查询" />
                </li>
            </form>
            <script>
            if ('{$Think.get.zt}') {
                $('form select[name="zt"]').val('{$Think.get.zt}');
            }
            //执行一个laydate实例
            laydate.render({
                elem: '#first' //指定元素
            });
            laydate.render({
                elem: '#end' //指定元素
            });

            function search() {
                console.log('12');
                $('input[type="submit"]').click();
            }

            function order(order) {
                $('input[name="order"]').val(order);
                console.log(order);
                $('input[type="submit"]').click();
            }
            </script>
        </ul>
        <p>·</p>
        <p>总金额：{$num}</p>
        <table class="tablelist">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>提供编号</th>
                    <th>提供者</th>
                    <th>接受编号</th>
                    <th>接受者</th>
                    <th>金额</th>
                    <th>匹配时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name='list' id='v'}
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.p_id}</td>
                        <td>{$v.p_user}</td>
                        <td>{$v.g_id}</td>
                        <td>{$v.g_user}</td>
                        <td>{$v.jb}</td>
                        <td>{$v.add_time|date="Y-m-d H:i:s",###}</td>
                        <td>
                        <a onClick="javascript:if(!confirm('确认要放弃吗？'))  return  false;" href="give_up?id={$v.id}">放弃</a> 
                        <a onClick="javascript:if(!confirm('确认要删除吗？'))  return  false;" href="del?id={$v.id}">删除</a> 
                        <a href="dakuan?id={$v.id}">确定打款</a> 
                        </td>
                    </tr>
                {/volist}
                </foreach>
                <script type="text/javascript">

                if ('{$Think.get.zt}') {
                    $('form select[name="zt"]').val('{$Think.get.zt}');
                }
                // if('{$Think.get.first}'){
                //   $('form input[name="first"]').val('{$Think.get.end}');
                // }
                // if('{$Think.get.end}'){
                //   $('form input[name="end"]').val('{$Think.get.end}');
                // }
                if ('{$Think.get.user}') {
                    $('form input[name="user"]').val('{$Think.get.user}');
                }
                </script>
            </tbody>
        </table>
        <div>
        </div>
    </div>
</body>

</html>