<div class="menu_area">
		
	<div class="menu_wrap">
		<div class="overlay"></div>
		<div class="menu_top">
			<img src="/static/mobile/img/index_logo.png" class="logo_img"/>
			<p class="menu_title">菜单</p>
			<img src="/static/mobile/img/close1.png" class="menu_logo"/>
		</div>
		<ul class="menu_list">
			<li><a href="/mobile/index/index.html">首页</a></li>
			<li><a href="/mobile/user/register.html">注册会员</a></li>
			<li>
				<span>我的团队</span>
				<img src="/static/mobile/img/right.png" alt="" class="more_btn" />
				<ul class="menu_left2">
					<li><a href="/mobile/team/active.html">激活会员</a></li>
					<li><a href="/mobile/team/direct.html">直推列表</a></li>
					<li><a href="/mobile/team/team.html">团队图谱</a></li>
				</ul>
			</li>
			<li>
				<span>财务中心</span>
				<img src="/static/mobile/img/right.png" alt="" class="more_btn" />
				<ul class="menu_left2">
					<li><a href="/mobile/jhm/transfer.html">赠送激活码</a></li>
					<li><a href="/mobile/pdb/transfer.html">赠送排单币</a></li>
					<li><a href="/mobile/jhm/index.html">激活码列表</a></li>
					<li><a href="/mobile/pdb/index.html">排单币列表</a></li>
					<li><a href="/mobile/ident/tgbz.html">投资订单列表</a></li>
					<li><a href="/mobile/ident/jsbz.html">收益订单列表</a></li>
				</ul>						
			</li>
			<li><span>账户管理</span>
				<img src="/static/mobile/img/right.png" alt="" class="more_btn" />
				<ul class="menu_left2">
					<li><a href="/mobile/user/index.html">个人资料</a></li>
					<li><a href="/mobile/user/change.html">修改密码</a></li>
				</ul>
			</li>
			<li><span>奖金明细</span>
				<img src="/static/mobile/img/right.png" alt="" class="more_btn" />
				<ul class="menu_left2">
						
					<li><a href="/mobile/profit/static_profit.html">静态收益明细</a></li>
					<li><a href="/mobile/profit/awart_profit.html">奖励钱包明细</a></li>	
					<li><a href="/mobile/profit/dynamic_profit.html">动态收益明细</a></li>
					<li><a href="/mobile/profit/shop_profit.html">商城收益明细</a></li>
					
				</ul>
			</li>
			<li><span>公告留言</span>
				<img src="/static/mobile/img/right.png" alt="" class="more_btn" />
				<ul class="menu_left2">
					<li><a href="/mobile/news/index.html">新闻公告</a></li>	
					<li><a href="/mobile/news/relation.html">后台留言</a></li>
				</ul>
			</li>
			<li><a href="/mobile/login/logout">退出</a></li>
		</ul>
	</div>
</div>