<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录后台管理系统--模板之家 www.cssmoban.com</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="__STATIC__/admin/js/jquery.js"></script>
    <script src="__STATIC__/admin/js/cloud.js" type="text/javascript"></script>
    <script language="javascript">
    $(function() {
        $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
        $(window).resize(function() {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
        })
    });
    </script>
</head>

<body style="background-color:#1c77ac; background-image:url(__STATIC__/admin/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <div id="mainBody">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
    </div>
    <div class="logintop">
        <span>欢迎登录后台管理界面平台</span>
        <ul>
            <li><a href="#">回首页</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
        </ul>
    </div>
    <div class="loginbody">
        <span class="systemlogo"></span>
        <div class="loginbox">

            <ul>
                <form>
                <li>
                    <input name="admin" type="text" class="loginuser" value="" placeholder="管理员" />
                </li>
                <li>
                    <input name="admin_pass" type="password" class="loginpwd" value="" placeholder="登录密码" />
                </li>
                <li>
                    <input type="submit" class="loginbtn" onclick="return login()" value="登录" />
                </li>
                 </form>
            </ul>
        </div>
    </div>
    <div class="loginbm">版权所有 聚格科技</div>
</body>
    <script src="__STATIC__/mine/jquery/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATIC__/mine/layer/layer.js" type="text/javascript" charset="utf-8"></script>
    <script>
        function login(){
            console.log(1);
            $.ajax({
                type: "POST",
                url: "{:url('index')}",
                data: $("form").serialize(),
                success: function(data) {
                    console.log(data)
                    layer.msg(data.msg);
                    if(data.code=='1'){
                        setTimeout(function(){
                            location.href = data.url;
                        },1000);
                    }
                }
            });
            return false;
        };
    </script>
</html>