<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>修改密码</title>
		<link rel="stylesheet" href="__STATIC__/pc/css/xiugaimima.css" />
	 	<link rel="stylesheet" type="text/css" href="__STATIC__/pc/css/head.css" />
	</head>
	<body>
		{include file="layout/header" /}
		<div class="wrapper">
			<div class="con_list">
				<div class="top_title">登录密码</div>
				<form  class="search_area" id="user_pass">
					<div class="con_item">
						<div class="search_list">
							<span class="search_txt">原密码</span>
							<input type="password" class="search_input" name="old_user_pass" placeholder="原密码" />
						</div>
						<div class="search_list">
							<span class="search_txt">新密码</span>
							<input type="password" class="search_input" name="user_pass" placeholder="新密码" />
						</div>
						<div class="search_list">
							<span class="search_txt">确认密码</span>
							<input type="password" class="search_input" name="pass1" placeholder="确认密码"  />
						</div>
					</div>
					<input type="button" class="reload_btn" onclick="upass()" value="更新" />
				</form>
			</div>
			
			<div class="con_list">
				<div class="top_title">二级密码</div>
				<form action="" class="search_area" id="second_pass">
					<div class="con_item">
						<div class="search_list">
							<span class="search_txt">原密码</span>
							<input type="password" class="search_input" name="old_second_pass" placeholder="原密码" />
						</div>
						<div class="search_list">
							<span class="search_txt">新密码</span>
							<input type="password" class="search_input" name="second_pass" placeholder="新密码" />
						</div>
						<div class="search_list">
							<span class="search_txt">确认密码</span>
							<input type="password" class="search_input" name="pass2" placeholder="确认密码"  />
						</div>
					</div>
					<input type="button" class="reload_btn" onclick="spass()" value="更新" />
				</form>
			</div>
		</div>
	</body>
	<script src="__STATIC__/pc/js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/mine/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/pc/js/nav.js" type="text/javascript" charset="utf-8"></script>
	<script>

	$(function() {
	    $('.account').attr("id", "color_index").siblings().removeAttr("id");
	    
	})
	function upass(){
		console.log(1);
		$.ajax({
			type:"post",
			url:"{:url('user_pass')}",
			data:$('#user_pass').serialize(),
			success:function(data){
				console.log(data);
				if(data.code=='1'){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg);
                }
			}
		})
	}
	function spass(){
		console.log(2);
		$.ajax({
			type:"post",
			url:"{:url('second_pass')}",
			data:$('#second_pass').serialize(),
			success:function(data){
				console.log(data);
				if(data.code=='1'){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg);
                }
			}
		})
	}
	
	</script>
</html>

