<div class="top_wrap">
    <div class="body_top">
        <div class="top_left">
            <img src="__STATIC__/pc/img/logo.png" />
        </div>
        <ul class="menu_list">
            <li class="index"><a href="/index/index/index.html">首页</a></li>
            <li class="register" ><a href="/index/user/register.html">注册会员</a></li>
            <li class="team">
                <span>我的团队</span>
                <img src="__STATIC__/pc/img/down.png" alt="" class="more_btn" />
            </li>
            <li class="wealth">
                <span>财务中心</span>
                <img src="__STATIC__/pc/img/down.png" alt="" class="more_btn" />
            </li>
            <li class="account">
                <span>账户管理</span>
                <img src="__STATIC__/pc/img/down.png" alt="" class="more_btn" />
            </li>
            <li class="profit">
                <span>奖金明细</span>
                <img src="__STATIC__/pc/img/down.png" alt="" class="more_btn" />
            </li>
            <li class="message">
                <span>公告留言</span>
                <img src="__STATIC__/pc/img/down.png" alt="" class="more_btn" />
            </li>
        </ul>
        <div class="top_right">
            <img src="__STATIC__/pc/img/tx.png" />
            <span>{$yonghu}</span>
            <span>欢迎您</span>
            <a href="/index/login/logout">退出</a>
        </div>
    </div>
</div>
<div class="banner">
    <img src="__STATIC__/pc/img/banner0.png" />
    <div class="nav_area">
        <ul class="nav_list0 nav_list">
            <li><a href="/index/team/active.html">激活会员</a></li>
            <li><a href="/index/team/direct.html">直推列表</a></li>
            <li><a href="/index/team/team.html">团队图谱</a></li>
        </ul>
        <ul class="nav_list1 nav_list">
            <li><a href="/index/jhm/transfer.html">赠送激活码</a></li>
            <li><a href="/index/pdb/transfer.html">赠送排单币</a></li>
            <li><a href="/index/jhm/index.html">激活码列表</a></li>
            <li><a href="/index/pdb/index.html">排单币列表</a></li>
            <li><a href="/index/ident/tgbz.html">投资订单列表</a></li>
            <li><a href="/index/ident/jsbz.html">收益订单列表</a></li>
        </ul>
        <ul class="nav_list2 nav_list">
            <li><a href="/index/user/index.html">个人资料</a></li>
            <li><a href="/index/user/change.html">修改密码</a></li>
        </ul>
        <ul class="nav_list3 nav_list">
            <li><a href="/index/profit/static_profit.html">静态收益明细</a></li>
            <li><a href="/index/profit/awart_profit.html">奖励钱包明细</a></li>
            <li><a href="/index/profit/dynamic_profit.html">动态收益明细</a></li>
            <li><a href="/index/profit/shop_profit.html">商城积分明细</a></li>
        </ul>
        <ul class="nav_list4 nav_list">
            <li><a href="/index/news/index.html">新闻公告</a></li>
            <li><a href="/index/news/relation.html">后台留言</a></li>
        </ul>
    </div>
</div>