<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
      <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/mine/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/editor/kindeditor.js"></script>
    <script type="text/javascript" src="__STATIC__/mine/layer/layer.js"></script>

    <script type="text/javascript">
    $(document).ready(function(e) {
        $(".select1").uedSelect({
            width: 345
        });
        $(".select2").uedSelect({
            width: 167
        });
        $(".select3").uedSelect({
            width: 100
        });
    });
    </script>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">申请区代理记录</a></li>
        </ul>
    </div>
    <div class="tools">
        <ul class="toolbar" style="padding:3px;">
            <li class="click"><span><img src="__STATIC__/admin/images/t01.png" /></span><a>区代理</a></li>
        </ul>
        <ul class="toolbar1">
        </ul>
    </div>
    <div class="formbody">
        <ul class="seachform">
            <form action="index" method="get">
                <li>
                    <label>用户</label>
                    <input name="user" type="text" class="scinput" value="{$Think.get.user}" style="width:100px" />
                </li>
                <li>
                    <label>区代理</label>
                    <input name="center" type="text" class="scinput" value="{$Think.get.center}" style="width:100px"/>
                </li>
                <li>
                    <label>状态</label>
                    <div class="vocation">
                        <select class="select3" name="status">
                            <option></option>
                            <option value="0">未审核</option>
                            <option value="1">已审核</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label>&nbsp;</label>
                    <input type="submit" class="scbtn" value="查询" />
                </li>
            </form>
            <script>
            if ('{$Think.get.status}') {
                $('form select[name="status"]').val('{$Think.get.status}');
            }
            if ('{$Think.get.zt}') {
                $('form select[name="zt"]').val('{$Think.get.zt}');
            }
            </script>
        </ul>
        <p>·</p>
        <table class="tablelist">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>账户</th>
                    <th>时间</th>
                    <th>状态</th>
                    <th>操作</th>
                    <th>区代理编号</th>
                </tr>
            </thead>
            <tbody>
                {volist name='list' id='v'}
                <tr>
                    <td>{$v.id}</td>
                    <td>{$v.uid}</td>
                    <td>{$v.add_time|date="Y-m-d H:i:s",###}</td>
                    <td>{$v.status}</td>
                    <td>
                        {if condition="$v.status eq '待审核'"}
                            <a date-id="{$v.id}" onclick="check($(this).attr('date-id'))" class="tablelink">审核通过</a>&nbsp;&nbsp;
                            <a date-id="{$v.id}" onclick="del($(this).attr('date-id'))" class="tablelink">删除</a>&nbsp;&nbsp;
                        {/if}
                        {if condition="$v.status eq '已审核'"}
                            --
                        {/if}
                        
                    </td>
                    <td>{$v.center}</td>
                </tr>
                {/volist}
            </tbody>
        </table>
        <div>
        </div>
    </div>
</body>
<script src="__STATIC__/mine/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script>
//驳回
function reject(data){
    layer.confirm('确定要驳回么？', {
      btn: ['确定', '取消'] 
    }, function(index, layero){
        $.ajax({
            type: "get",
            url: "reject",
            data: {id:data},
            success: function(data) {
                console.log(data)
                if(data.code=='1'){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg);
                }
                return false;
            }
        });
    });
}
//忽略
function ignore(data){
    layer.confirm('确定要忽略么？', {
      btn: ['确定', '取消'] 
    }, function(index, layero){
        $.ajax({
            type: "get",
            url: "ignore",
            data: {id:data},
            success: function(data) {
                console.log(data)
                if(data.code=='1'){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg);
                }
                return false;
            }
        });
    });
}
// 审核
function check(data){
    layer.confirm('确定要审核通过么？', {
      btn: ['确定', '取消'] 
    }, function(index, layero){
        $.ajax({
            type: "get",
            url: "check",
            data: {id:data},
            success: function(data) {
                console.log(data)
                if(data.code=='1'){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg);
                }
                return false;
            }
        });
    });
}
// 删除
function del(data){
    layer.confirm('确定要删除么？', {
      btn: ['确定', '取消'] 
    }, function(index, layero){
        $.ajax({
            type: "get",
            url: "del",
            data: {id:data},
            success: function(data) {
                console.log(data)
                if(data.code=='1'){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg);
                }
                return false;
            }
        });
    });
}
</script>
</html>