<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>财务中心</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/pc/css/invest_list.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/pc/js/style3.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/pc/css/head.css" />
    <style>
        #color1 div:nth-child(2){
            background-color: #82ECFF;
        }
        #color2 div:nth-child(2){
            background-color: #A2FF82;
        }
        #color3 div:nth-child(2){
            background-color: #EFFF82;
        }
        #color4 div:nth-child(2){
            background-color: #FF9782;
        }
        #preview img{
            margin-left: 10%;
                width: 70%;
        height: 400px;
        }
</style>
</head>

<body>
    {include file="layout/header" /}
    <div class="wrapper">
        <div class="top_title">收益订单列表</div>
        <!--投资订单-->
        <ul class="dingdan">
            {volist name="list" id="v"}
                {if condition="$v.zt eq 1"}<li id="color1">{/if}
                {if condition="$v.zt eq 2"}<li id="color2">{/if}
                {if condition="$v.zt eq 3"}<li id="color3">{/if}
                {if condition="$v.zt eq 4"}<li id="color4">{/if}
                <div class="dingdan_top">
                    <p>收益单号<span>{$v.g_id}</span></p>
                </div>
                <div class="dingdan_con">
                    <p>收益者：<span class="number_color0">{$v.g_user}</span></p>
                    <p>收益金额：<span class="number_color1">{$v.jb}RMB</span></p>
                    <p>匹配时间：<span class="number_color0">{$v.add_time|date="Y-m-d H:i:s",###}</span></p>
                    <p>对方账号：<span class="number_color0">{$v.p_user}</span></p>
                    <p>状态：<span class="number_color1">
                        {if condition="$v.zt eq 1"}等待打款{/if}
                        {if condition="$v.zt eq 2"}未收款{/if}
                        {if condition="$v.zt eq 3"}交易完成{/if}
                        {if condition="$v.zt eq 4"}交易完成{/if}
                    </span></p>
                    <p>详情：<span class="number_color0" date-id="{$v.id}" onclick="detail($(this).attr('date-id'))">点击查看</span></p>
            
                    {if condition="$v.zt eq 2"}
                    <div class="invest_listBtn" date-id="{$v.id}" onclick="receive($(this).attr('date-id'))">确认收款</div>
                    <div class="invest_listBtn" date-id="{$v.id}" onclick="complain($(this).attr('date-id'))">投诉？</div>
                    {/if}
                </div>
            </li>
            {/volist}
        </ul>
    </div>
    <!--图片-->
    <!--弹框-->
    <div class="cd-popupbb">
        <div class="cd-popup-containerbb">
            <div class="tk_img">
            </div>
            <img src="__STATIC__/pc/img/close1.png" class="cd-popup-closebb" />
        </div>
    </div>
</body>
<script src="__STATIC__/pc/js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/mine/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/pc/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    function detail(data){
        console.log(data);
        location.href="jsbz_detail?id="+data;
    }
    //确认收款
    function receive(data){
        layer.confirm('确定要收款么？', {
          btn: ['确定', '取消'] //可以无限个按钮
        }, function(index, layero){
            console.log(12);
            $.ajax({
                type: "get",
                url: "/index/jsbz/receive",
                data: {id:data},
                success: function(data) {
                    console.log(data)
                    if(data.code=='1'){
                        setTimeout(function(){
                            location.href = data.url;
                        },1000);
                        layer.msg(data.msg);
                    }else{
                        layer.msg(data.msg);
                    }
                    return false;
                }
            });
        });
    }
    //投诉
    function complain(data){
        layer.confirm('确定要投诉么？', {
          btn: ['确定', '取消'] //可以无限个按钮
        }, function(index, layero){
            $.ajax({
                type: "get",
                url: "/index/jsbz/complain",
                data: {id:data},
                success: function(data) {
                    if(data.code=='1'){
                        setTimeout(function(){
                            location.href = data.url;
                        },1000);
                        layer.msg(data.msg);
                    }else{
                        layer.msg(data.msg);
                    }
                    return false;
                }
            });
        });
    }
</script>

</html>