<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$Think.lang.laitejulebu}</title>
    <!-- 手机样式标签 -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/lib/css/bootstrap.min.css" />
    <!-- Font 文件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap地图插件 -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/pages.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/lib/css/jquery-jvectormap-1.2.2.css" />
    <!-- 本地样式文件-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/sheetstyle/AdminLTE.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/lib/css/_all-skins.min.css" />
    <style type="text/css">
        .lag{
        position: relative;
        color: #afb1be;
        width: 190px;
        margin-top: 3px;
        background: #32364a;
        left: 0;
        padding: 10px 65px;
        border-top: 2px solid #393d52;
        border-bottom: 2px solid #393d52;
        border-right: none;
        border-left: none;
        outline: none;
        font-family: 'Gudea', sans-serif;
        box-shadow: none;
        }
        .s-inp{
            padding: 0px 35px 0 10px;
            border:0;
            height: 25px;
            color: #afb1be;
            background: #32364a;

        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {include file="layout/navigation" /}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>{$Think.lang.jihuomingxi}</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard"></i> {$Think.lang.shouye}</a>
                    </li>
                    <li class="active">{$Think.lang.jihuomingxi}</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="box-body">
                                    <div class="callout callout-info">
                                        <p>{$Think.lang.jihuomingxi}：{$Think.lang.zonggongyou} <b class="text_red_line">{$count}</b> 条记录</p>
                                    </div>
                                </div>
                                <div class="box-body table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>{$Think.lang.yonghuming}</th>
                                                <th>{$Think.lang.jieshouyonghu}</th>
                                                <th>{$Think.lang.shumu}</th>
                                                <th>{$Think.lang.leixing}</th>
                                                <th>{$Think.lang.shijian}</th>
                                            </tr>
                                        </thead>
                                        {volist name="list" id="v"}
                                        <tr>
                                            <td>{$v.uid}</td>
                                            <td>{$v.uid_two}</td>
                                            <td>{$v.num}</td>
                                            <td>{$v.type}</td>
                                            <td>{$v.add_time|date="Y-m-d H:i:s",###}</td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right" style="padding-right: 30px;">
                                <nav aria-label="Page navigation pages">
                                    {$list->render()}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="layout/footer" /}
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
            </div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <script src="__STATIC__/index/lib/js/memberregister.js"></script>
    <!-- jQuery 2.2.3 -->
    <!-- jQuery 2.2.3 -->
    <script src="__STATIC__/index/lib/js/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="__STATIC__/index/lib/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="__STATIC__/index/lib/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="__STATIC__/index/lib/js/app.min.js"></script>
    <!-- Sparkline -->
    <script src="__STATIC__/index/lib/js/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="__STATIC__/index/lib/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="__STATIC__/index/lib/js/jquery-jvectormap-world-mill-en.js"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="__STATIC__/index/lib/js/jquery.slimscroll.min.js"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="__STATIC__/index/lib/js/Chart.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!--<script src="dist/js/pages/dashboard2.js"></script>-->
    <!-- AdminLTE for demo purposes -->
    <script src="__STATIC__/index/lib/js/demo.js"></script>
</body>
<script type="text/javascript">
</script>
    <script type="text/javascript">
        function ShowToText(){
        var options=$(".s-inp option:selected")
        options.css({'border':'0'})
        //获得文本值
        console.log(options.text());
        //获得value值
        console.log(options.val());
    }
    </script>
</html>