<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/mine/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/editor/kindeditor.js"></script>
    <script type="text/javascript" src="__STATIC__/mine/layer/layer.js"></script>

    <script type="text/javascript">
    $(document).ready(function(e) {
        $(".select1").uedSelect({
            width: 345
        });
        $(".select2").uedSelect({
            width: 167
        });
        $(".select3").uedSelect({
            width: 100
        });
    });
    </script>
    <style type="text/css">
        .page{
            width: 100%;
        }
        .page ul{
            width: 30%;
            margin-left: 35%;
            overflow: hidden;
        }
        .page ul li{
            width:25% ;
            float: left;

        }
        .page ul li>span{
            font-size: 20px;
            
        }
        .page ul li>a{
            font-size: 20px;
            
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">管理员列表</a></li>
        </ul>
    </div>
    <div class="tools">
        <ul class="toolbar" style="padding:3px;">
            <li class="click"><span><img src="__STATIC__/admin/images/t01.png" /></span><a href="add">添加</a></li>
        </ul>
        <ul class="toolbar1">
        </ul>
    </div>
    <div class="formbody">
        <ul class="seachform">
            <form action="index" method="get">
            <li>
                <label>管理员</label>
                <input name="admin" type="text" class="scinput" value="{$Think.get.admin}" />
            </li>
            <li>
                <label>分组</label>
                <div class="vocation">
                    <select class="select3" id="group" name="group">
                        <option value=""></option>
                        <option value="1">超级管理员</option>
                        <option value="2">普通管理员</option>
                    </select>
                </div>
            </li>
            <li>
                <label>&nbsp;</label>
                <input type="submit" class="scbtn" value="查询" />
            </li>
            </form>
            <script>
                $(function(){
                    if('{$Think.get.group}'){
                      $('form select[name="group"]').val('{$Think.get.group}');
                    }
                })
                

            </script>
        </ul>
        <table class="tablelist">
            <thead>
                <tr>
                    <th>管理员</th>
                    <th>时间</th>
                    <th>管理组</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name='list' id='v'}
                <tr>
                    <td>{$v.admin}</td>
                    <td>{$v.add_time|date="Y-m-d H:i:s",###}</td>
                    <td>{$v.group==1?'超级管理员':'普通管理员';}</td>
                    <td><a href="add?id={$v.id}" class="tablelink">修改</a><a href="del?id={$v.id}" class="tablelink"> 删除</a></td>
                </tr>
                
                {/volist}

            </tbody>
        </table>
        <div class="page">
            {$list->render()}
        </div>
    </div>
</body>

</html>